<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${id}"></title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <meta name="theme-color" content="#563d7c">
</head>
<body class="text-center">
<script>
    const id = '[[${id}]]';
</script>
<script th:src="@{/js/app.js}"></script>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <h3>Planning Poker</h3>
    </header>
    <main role="main" class="inner cover">
        <h1 th:text="${id}"></h1>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Planning Poker by <a th:href="@{https://grobocop.com}">Grobocop</a> 2020</p>
        </div>
    </footer>
</div>
</body>
</html>