<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <meta name="theme-color" content="#563d7c">
</head>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <h3>Planning Poker</h3>
    </header>
    <main>
        <h1 class="m-2">Something went wrong!</h1>
        <button class="btn btn-primary">
            <a class="" th:href="@{/}">Go Home</a>
        </button>
    </main>
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Planning Poker by <a th:href="@{https://grobocop.com}">Grobocop</a> 2020</p>
        </div>
    </footer>
</div>
</body>
</html>